<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- public의 내부의 파일의 경우 public까지는 생략 후 경로를 입력하면 됨 -->
    <link rel="stylesheet" href="/css/home/login.css">
    <!-- defer를 통해 login.js의 로직을 사용할 수 있음 -->
    <script src="/js/home/register.js" defer></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input id="name" type="text" placeholder="이름"/>
                <input id="id" type="text" placeholder="아이디"/>
                <input id="password" type="password" placeholder="비밀번호"/>
                <input id="confirm-password" type="password" placeholder="비밀번호 확인"/>
                <p id="button">Sign Up</p>
                <p class="message">Already registered? <a href="/login">Go to the Login Page</a></p>
            </form>
        </div>
    </div>
</body>
</html>

<!-- Copyright (c) 2025 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->